*{ margin:0px; padding:0px;}
body {
    background: #000;
    color: #222; 
    font-family:" 微软雅黑";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    position: relative; 
    font-size:16px;
}
.fl{ float:left; }
.fr{ float:right;}
.clr{ clear:both;}
.header {
    height: 120px;
    background-color: #000;
}
a {
    color: #e81aae;
    line-height: inherit;
    text-decoration: none;
}
.header .logo {
    position: absolute;
    top: 28px;
    left: 40px;
    height: 65px;
}
.header .header_utilities {
    position: absolute;
    float: none;
    top: 40px;
    right: 40px;
}
button, .button {
    font-family: " 微软雅黑";
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    padding: 15px 30px;
    white-space: normal;
    border-radius: 5px;
    color: #fff;
    background: #e80a89;
    position: relative;
    text-align: center; 
    display: inline-block;
    transition: box-shadow .3s ease-in-out;
    margin: 0 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.header .header_utilities a.header-link {
    color: #fff;
    margin-left: 50px;
}
.block--center {
    text-align: center;
}
.block {
    color: #ccc;
    background-repeat: no-repeat; 
}
.block--true-black {
    background-color: #000;
}
.generic-block-wrapper {
    padding: 100px 0; 
    background-size: cover;
}
.javascript-hero {
    position: relative;
}
 
.generic-block-wrapper.padding-bottom-hundred-fifty {
    padding-bottom: 0px;
} 
.generic-block-wrapper.padding-top-hundred {
    padding-top: 100px;
} 
.generic-block-wrapper.generic-block--five-ten {
    min-height: 510px;
}
.javascript-hero h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #aaaaaa;
    margin: 0;
}
.block h1, .block h2, .block h3, .block h4, .block h5, .block h6 {
    color: #fff;
}
.title2 h1.title--heavier  {
    font-weight: 700;
    text-transform: none; 
    font-size:80px;
}
.javascript-hero .text-3 p {
    font-weight: 200;
    font-size: 18px;
    line-height: 1.8;
}
.row {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}
.row.column-control--narrow {
    max-width: 900px;
}
code {
    background-color: #f8f8f8;
    border-color: #dfdfdf;
    border-style: solid;
    border-width: 1px;
    color: #333;
    font-family: Consolas,liberation mono,Courier,monospace;
    font-weight: 400;
    padding: 2px 5px 1px;
}
.javascript-hero code {
    color: #555;
    padding: 5px;
    border-radius: 3px;
}
.javascript-hero .javascript-input input {
    background: rgba(18,18,18,.9);
    height: 30px;
    padding: 10px 10px 15px 40px;
    border: 0;
    color: white;
    font-size: 22px;
    font-weight: 500;
    transition: background .4s linear;
    font-family: monospace;
    width:100%;
}
.javascript-input {
    position: relative;
    margin-top: 30px;
    
}
.javascript-hero .javascript-input .javascript-input--arrow {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    top: 50%;
    left: 5px;
    margin-top: -9px;
    position: absolute;
}

.flex-block-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-block-container.no-margins.desktop-three>.section {
    width: 33.333%;
}
.title--gray {
    color: #aaa!important;
}
.text-3 .fs--thirty-two, .rte-editor .fs--thirty-two {
    display: inline;
    font-size: 32px;
    line-height: 48px;
}
.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--8 {
    float: left;
    clear: none;
    width: 66.66666667%;
}
.aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--offset--default--2 {
    margin-left: 16.66666667%;
}
.text-3 .tc-white {
    color: #fff;
}



.foot {
    position: fixed;
    bottom: 0;
    z-index: 999999;
    color: #aaa;
    background: linear-gradient(rgba(19,19,19,.9),rgba(19,19,19,.9));
    padding: 15px;
    width: 100%;
}
.foot p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 200;
    margin-bottom: 0;
    float: left;
    width: 55%;
}
.foot p a {
    color: #aaa;
    font-weight: 500;
}